@use "@angular/material" as mat;


.accent {
  @include mat.theme(
    (
      color: mat.$magenta-palette,
    )
  );
}

.warn {
  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}

html,
body {
  height: 100%;
}

